#navbar {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 300px;
}

.sections-container {
    align-self: flex-end;
    background-color: aqua;
    width: 100%;
} 

main {
    display: flex;
}