#navbar {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 300px;
}

.sections-container {
    align-self: flex-end;
    width: 100%;
} 

main {
    display: flex;
}

code {
    color: #424242;
  }
  
  
  
  @media (scripting: enabled) {
    #script-enabled {
      color: lightgray;
    }
  }